<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      <ion-icon name="document-text" class="section-icon"></ion-icon>
      Rapports
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="action-card reports-card">
    <ion-card-header>
      <div class="card-header-content">
        <ion-icon name="document-text" class="card-icon"></ion-icon>
        <ion-card-title>Rapports</ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
      <p>Générez et téléchargez vos rapports d'activité et d'impact environnemental</p>
      <ion-list>
        <ion-item>
          <ion-icon name="document" slot="start" color="success"></ion-icon>
          <ion-label>Rapport mensuel - Mai 2025</ion-label>
          <ion-button fill="clear" slot="end" size="small">
            <ion-icon name="download"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="document" slot="start" color="success"></ion-icon>
          <ion-label>Rapport annuel - 2024</ion-label>
          <ion-button fill="clear" slot="end" size="small">
            <ion-icon name="download" ></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-button expand="block" fill="outline" color="success" (click)="downloadReport()">
        <ion-icon name="download" slot="start"></ion-icon>
        Télécharger rapport
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
