<ion-tabs>
  <ion-tab-bar slot="bottom" class="ong-tab-bar">

    <ion-tab-button tab="accueil" (click)="activeTab = 'accueil'">
      <ion-icon [name]="activeTab === 'accueil' ? 'home' : 'home-outline'" color="success"></ion-icon>
      <ion-label color="success">Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="signalements" (click)="activeTab = 'signalements'">
      <ion-icon [name]="activeTab === 'signalements' ? 'bar-chart' : 'bar-chart-outline'" color="success"></ion-icon>
      <ion-label color="success">Signalements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contenus" (click)="activeTab = 'contenus'">
      <ion-icon [name]="activeTab === 'contenus' ? 'bulb' : 'bulb-outline'" color="success"></ion-icon>
      <ion-label color="success">Contenus</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="evenements" (click)="activeTab = 'evenements'">
      <ion-icon [name]="activeTab === 'evenements' ? 'calendar' : 'calendar-outline'" color="success"></ion-icon>
      <ion-label color="success">Évènements</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="rapports" (click)="activeTab = 'rapports'">
      <ion-icon [name]="activeTab === 'rapports' ? 'document' : 'document-outline'" color="success"></ion-icon>
      <ion-label color="success">Rapports</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="profil" (click)="activeTab = 'profil'">
      <ion-icon [name]="activeTab === 'profil' ? 'person' : 'person-outline'" color="success"></ion-icon>
      <ion-label color="success">Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
