<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      <ion-icon name="analytics" class="ion-padding-end"></ion-icon>
      Signalements & Statistiques
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Statistiques générales -->
  <ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="bar-chart-outline"></ion-icon>
      Statistiques générales
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas #statChart></canvas>
  </ion-card-content>
</ion-card>


  <!-- Liste des signalements -->
  <ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="time-outline"></ion-icon>
      Signalements récents
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let s of signalements.slice(0, 3)">
        <ion-thumbnail slot="start" *ngIf="s.photoURL">
          <ion-img [src]="s.photoURL"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h3>{{ s.typeNuisance || 'Type inconnu' }}</h3>
          <p>Lieu : {{ s.localisation }}</p>
          <p>Date : {{ s.date ? (s.date | date:'mediumDate') : (s.createdAt?.seconds * 1000 | date:'mediumDate') }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>



    
  

  <ion-button expand="block" fill="outline" color="success">
    <ion-icon name="eye" slot="start"></ion-icon>
    Voir tous les signalements
  </ion-button>

</ion-content>
