:root {
  --green-dakar: #2E7D32;
  --green-light: #E8F5E9;
}

ion-toolbar[color="green-dakar"] {
  --background: var(--green-dakar);
  --color: white;
}

.custom-background {
  --background: white;
  background: white;
}

.header-image {
  padding: 20px;
  text-align: center;
  img {
    max-width: 60%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
}

.custom-card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(8, 183, 17, 0.1);
  margin: 16px;
  background-color: var(--green-dakar);

  .main-title {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--green-light);
  }
}

.custom-list {
  background: transparent;

  .custom-item {
    --background: var(--green-light);
    border-radius: 8px;
    margin-bottom: 8px;
    --padding-start: 12px;
    --padding-end: 12px;

    ion-icon {
      font-size: 1.2rem;
    }
  }
}

.action-buttons {
  padding: 0 16px 16px;

  .action-button {
    --box-shadow: 0 4px 8px rgba(46, 125, 50, 0.3);
    font-weight: 600;
    height: 48px;

    ion-icon {
      font-size: 1.2rem;
    }
  }
}
