<ion-header [translucent]="true">
  <ion-toolbar color="green-dakar">
    <ion-title>Green Dakar - ONG</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">
  <ion-header collapse="condense">
    <ion-toolbar color="green-dakar">
      <ion-title size="large">ONG</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header-image">
    <img src="assets/image.jpg" alt="Dakar Ville Verte">
  </div>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="main-title">
        <ion-icon name="people-circle" color="#E8F5E9"></ion-icon>
        Bienvenue à l’Espace ONG
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none" class="custom-list">
        <ion-item class="custom-item" button detail="false" routerLink="/intervention">
          <ion-icon slot="start" name="construct"></ion-icon>
          <ion-label>Planifier une intervention</ion-label>
        </ion-item>

        <ion-item class="custom-item" button detail="false" routerLink="/evenements">
          <ion-icon slot="start" name="calendar"></ion-icon>
          <ion-label>Voir les événements</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="action-buttons">
    <ion-button expand="block" shape="round" color="green-dakar" class="action-button" routerLink="/intervention">
      <ion-icon slot="start" name="add-circle-outline" color="light"></ion-icon>
      Nouvelle intervention
    </ion-button>
  </div>
</ion-content>
