<ion-header [translucent]="true">
  <ion-toolbar color="green-dakar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mairie/accueil" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Score d'insalubrité</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="score-content" color="white">
  <div class="score-header">
    <h1>Indice d'insalubrité de Dakar</h1>
    <p>Mise à jour : {{ dateMiseAJour }}</p>
  </div>

  <div class="score-circle">
    <h2>{{ score }}</h2>
    <p>{{ niveau }}</p>
  </div>

  <ion-card class="score-info">
    <ion-card-header>
      <ion-card-title>Analyse rapide</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Le score actuel indique un niveau <strong>{{ niveau.toLowerCase() }}</strong> d’insalubrité.
        <br />
        Interventions recommandées dans les quartiers prioritaires.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Zones les plus touchées</ion-label>
    </ion-list-header>

    <ion-list class="zone-list">
  <ion-item *ngFor="let zone of zones" lines="full" class="zone-item">
    <ion-icon name="location" slot="start" color="success"></ion-icon>
    <ion-label>
      <h3>{{ zone.nom }}</h3>
      <p>{{ zone.niveau }}</p>
    </ion-label>
  </ion-item>
</ion-list>


  </ion-list>
</ion-content>
