<ion-header>
  <ion-toolbar style="--background: #1e5631;">
    <ion-buttons slot="start">
      <ion-back-button [text]="'Précédent'" defaultHref="/citoyen/tabs/accueil" class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title color="white">Evénement</ion-title> <!-- Titre minimal pour la toolbar -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding page-evenements">

  <h2>Actions de nettoyage</h2>

  <!-- Événement 1 -->
  <ion-card class="event-card">
    <ion-card-header>
      <ion-card-title>Clean-up Day - Médina</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="calendar-outline"></ion-icon> Samedi 15 Juin
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        <ion-icon name="location-outline"></ion-icon> Rond-point JVC, Médina
      </p>
      <p>
        <ion-icon name="people-outline"></ion-icon> 32 participants
      </p>

      <ion-button fill="solid" class="custom-participer" expand="block" shape="round">
        Participer
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Événement 2 -->
  <ion-card class="event-card">
    <ion-card-header>
      <ion-card-title>Opération Propreté - Pikine</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="calendar-outline"></ion-icon> Dimanche 23 Juin
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        <ion-icon name="location-outline"></ion-icon> Stade Alassane Djigo, Pikine
      </p>
      <p>
        <ion-icon name="people-outline"></ion-icon> 18 participants
      </p>

      <ion-button fill="solid" class="custom-participer" expand="block" shape="round">
        Participer
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
