<ion-toolbar style="--background: #1e5631;">
  <ion-title>Green Dakar</ion-title>
  <ion-buttons slot="end">
    <ion-button class="custom-icon-button">
      <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true" class="custom-background">

  <div class="header-image">
    <img src="assets/image.jpg" alt="Dakar Ville Verte">
  </div>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="main-title">
        <ion-icon name="leaf" color="#E8F5E9"></ion-icon>
        Rendons Dakar plus propre
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none" class="custom-list">
        <ion-item class="custom-item">
          <ion-icon slot="start" name="warning" color="#E8F5E9"></ion-icon>
          <ion-label>Nombre de Signalements</ion-label>
         <ion-badge color="success" slot="end">{{ nombreSignalements }}</ion-badge>

        </ion-item>

      <ion-item class="custom-item" button [routerLink]="['/citoyen/tabs/mes-signalements']" detail="false">
  <ion-icon slot="start" name="map" color="#E8F5E9"></ion-icon>
  <ion-label>Voir les signalements</ion-label>
</ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="action-buttons" button [routerLink]="['/citoyen/tabs/signalement']">
    <ion-button expand="block" shape="round" class="custom-signaler" class="action-button" routerLink="/signalement">
      <ion-icon slot="start" name="camera" color="light"></ion-icon>
      Signaler maintenant
    </ion-button>
  </div>
</ion-content>
