<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>Green Dakar</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">

  <div class="header-image">
    <img src="assets/image.jpg" alt="Dakar Ville Verte">
  </div>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="main-title">
        <ion-icon name="leaf" color="#E8F5E9"></ion-icon>
        Rendons Dakar plus propre
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none" class="custom-list">
        <ion-item class="custom-item" button detail="false" routerLink="/signalement">
          <ion-icon slot="start" name="warning" color="#E8F5E9"></ion-icon>
          <ion-label>Signaler un problème</ion-label>
          <ion-badge color="#E8F5E9" slot="end">12</ion-badge>
        </ion-item>

        <ion-item class="custom-item" button detail="false">
          <ion-icon slot="start" name="map" color="#E8F5E9"></ion-icon>
          <ion-label>Voir les signalements</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="action-buttons">
    <ion-button expand="block" shape="round" color="green-dakar" class="action-button" routerLink="/signalement">
      <ion-icon slot="start" name="camera" color="light"></ion-icon>
      Signaler maintenant
    </ion-button>
  </div>
</ion-content>
