




ion-list{
    background-color: #f8f8f8;
}
ion-item {
  --background: #ffffff; /* Fond blanc */
  --color: #000000; /* Texte noir (facultatif) */
  border-radius: 8px; /* Facultatif pour l'esthétique */
  margin-bottom: 10px;
}
