.dashboard-content {
  padding: 16px;
  background-color: #f5f5f5;
}

.dashboard-title h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color:  #1e5631;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  color: #f5f5f5;
}

.dashboard-card {
  text-align: center;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  color:  #1e5631;
  background-color: #f5f5f5;
}

.card-icon {
  font-size: 32px;
  color:  #1e5631; // Vert foncé
}

.card-value {
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}

.card-label {
  font-size: 14px;
  color: #666;
}
ion-tab-bar {
  --background: #ffffff;
  --color: green;
  --color-selected:  #1e5631;
  border-top: 1px solid #ddd;
}



ion-tab-button {
  flex-direction: column;
  font-weight: 500;
  text-transform: none;
}

ion-icon {
  font-size: 22px;
  margin-bottom: 4px;
}
card-label{
    color: #1e5631;
}
