<ion-header>
  <ion-toolbar color="success" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button [text]="'Précédent'" defaultHref="/ong/tabs/accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="profile-header">
    <ion-avatar class="avatar-large">
      <img src="assets/avatar-placeholder.jpg" alt="avatar">
    </ion-avatar>
    <h2 class="name">Fatou</h2>
    <p>ong.medina&#64;greendakar.sn</p>
  </div>
  <ion-list class="profile-options">
    <ion-item button>
      <ion-icon slot="start" name="create-outline" color="success"></ion-icon>
      <ion-label>Modifier le profil</ion-label>
    </ion-item>

    <ion-item button>
      <ion-icon slot="start" name="lock-closed-outline" color="success"></ion-icon>
      <ion-label>Changer le mot de passe</ion-label>
    </ion-item>

    <ion-item button>
      <ion-icon slot="start" name="information-circle-outline" color="success"></ion-icon>
      <ion-label>À propos</ion-label>
    </ion-item>

    <ion-item button class="logout">
      <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
      <ion-label>Se déconnecter</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
